<div class="container">
  <div class="col-sm-6">
    <img src="https://raw.githubusercontent.com/JonathanWexler/get-programming-with-nodejs/master/unit_2/lesson_12_capstone/finish/confetti_cuisine/public/images/cat.jpg" alt="Error cat">
  </div>
  <div class="col-sm-6">
    <h1>Oops! Something went wrong, or the page you are looking for is not available.</h1>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>
</div>